<div class="recap">
      <ul>
        <li>JANTES : Largueur -- <%= @etroite.jantelargeur %>  pouces</li>
        <li>JANTES : Coté exterieur -- <%= @etroite.janteexterieur%>  mm</li>
        <li>JANTES : Epaisseur couronne -- <%= @etroite.jantesepaisseur%>  mm</li>
        <li>VOILE : Creux de voile -- <%= @etroite.voilecreux %>  mm</li>
        <li>VOILE : Epaisseur -- <%= @etroite.voileepaisseur%>  mm</li>
        <li>F.A.M. : Coté exterieur -- <%= @etroite.fam %>  mm</li>
        <li>Centre Inter Changeable: Epaisseur -- <%= @etroite.cic %></li>
      </ul>
</div>
