<div class="recap">
      <ul>
        <li>JANTES : Largueur -- <%= @standard.jantelargeur %>  pouces</li>
        <li>JANTES : Coté exterieur -- <%= @standard.janteexterieur%>  mm</li>
        <li>JANTES : Epaisseur couronne -- <%= @standard.jantesepaisseur%>  mm</li>
        <li>VOILE : Creux de voile -- <%= @standard.voilecreux %>  mm</li>
        <li>VOILE : Epaisseur -- <%= @standard.voileepaisseur%>  mm</li>
        <li>F.A.M. : Coté exterieur -- <%= @standard.fam %>  mm</li>
      </ul>
</div>
