<div class="container container-mobile">
 <div class="logo-fat">
  <% if current_user.email == "bestdrive@gmail.com" %>
    <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602678647/logoopacity_grmfql.png") %>
  <% elsif current_user.email == "michelin@gmail.com" %>
    <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1604178048/michelin_png_ti1aar.png") %>
  <% end %>
</div>

<%= render 'shared/recap' %>
<% if current_user.email == "bestdrive@gmail.com" %>
  <div class="choices">
<% elsif current_user.email == "michelin@gmail.com" %>
  <div class="choices2">
<% end %>
  <ul class="choices-line-1">
    <li class="calcul-1"><%= @sortinputstandard [0]%></li>
    <li class="calcul-2"><%= @sortinputstandard [1] %></li>
    <li class="calcul-3"><%= @sortinputstandard [2] %></li>
    <li class="calcul-4"><%= @sortinputstandard [3] %></li>
  </ul>

  <ul class="choices-line-2">
    <li class="calcul-5"><%= @sortinputstandard [4] %></li>
    <li class="calcul-6"><%= @sortinputstandard [5] %></li>
    <li class="calcul-7"><%= @sortinputstandard [6] %></li>
    <li class="calcul-8"><%= @sortinputstandard [7] %></li>
  </ul>
  </div>

</div>
   <div class="draw">
    <div class="draw-1">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [0]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602765699/1_ttvkjh.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-2">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [1]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769012/2_dqnche.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-3">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [2]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769078/3_vruygm.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-4">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [3]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769132/4_vpmbfq.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-5">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [4]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769242/5_npo5dv.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-6">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [5]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769281/6_chrmsm.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-7">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [6]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769308/7_ahip0o.png") %>
      <%= render 'shared/recap' %>
    </div>
    <div class="draw-8">
      <%= render 'shared/close' %>
      <%= render 'shared/print' %>
      <div class="draw-details">
        <%= @sortinputstandard [7]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602769341/8_eomt88.png") %>
      <%= render 'shared/recap' %>
    </div>
  </div>
