<div class="accueil">
<!--  <div class="container"> -->
    <div class="accueil-title">
      <div class="row">
        <div class="col-md-10">
          <h2>Pour commencer votre calcul, choisissez votre type de roue</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="roue">
            <ul class="roue-liste">
              <li>
                  <%= link_to standards_path do %>
                    <%= image_tag "https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602947735/test1_d2az2o.webp" %>
                  <% end %>
              </li>
              <li>
                <h5>Roue Standard</h5>
              </li>
            </ul>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="roue">
            <ul class="roue-liste">
              <li>
                <%= link_to etroites_path do %>
                    <%= image_tag "https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602946672/photoetroitebis_pyavca.jpg" %>
                  <% end %>
              </li>
              <li>
                <h5>Roue Etroite</h5>
              </li>
            </ul>
        </div>
      </div>
    </div>
<!--   </div> -->
</div>

<%= link_to destroy_user_session_path, method: :delete  do%>
  <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602678647/logoopacity_grmfql.png" id="logo">
<% end %>




