<div class="container container-mobile">
 <div class="logo-fat">
  <% if current_user.email == "bestdrive@gmail.com" %>
    <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602678647/logoopacity_grmfql.png") %>
  <% elsif current_user.email == "michelin@gmail.com" %>
    <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1604178048/michelin_png_ti1aar.png") %>
  <% end %>
  </div>
<%= render 'shared/recap2' %>
<% if current_user.email == "bestdrive@gmail.com" %>
  <div class="choices">
<% elsif current_user.email == "michelin@gmail.com" %>
  <div class="choices2">
<% end %>
  <ul class="choices-line-1">
    <li class="calcul-1"><%= @sortinputetroit[0] %></li>
    <li class="calcul-2"><%= @sortinputetroit[1] %></li>
    <li class="calcul-3"><%= @sortinputetroit[2] %></li>
    <li class="calcul-4"><%= @sortinputetroit[3] %></li>
    <li class="calcul-5"><%= @sortinputetroit[4] %></li>
    <li class="calcul-6"><%= @sortinputetroit[5] %></li>
    <li class="calcul-7"><%= @sortinputetroit[6] %></li>
    <li class="calcul-8"><%= @sortinputetroit[7] %></li>
  </ul>
  <ul class="choices-line-2">
    <li class="calcul-9"><%= @sortinputetroit[8] %></li>
    <li class="calcul-10"><%= @sortinputetroit[9] %></li>
    <li class="calcul-11"><%= @sortinputetroit[10] %></li>
    <li class="calcul-12"><%= @sortinputetroit[11] %></li>
    <li class="calcul-13"><%= @sortinputetroit[12] %></li>
    <li class="calcul-14"><%= @sortinputetroit[13] %></li>
    <li class="calcul-15"><%= @sortinputetroit[14] %></li>
    <li class="calcul-16"><%= @sortinputetroit[15] %></li>
  </ul>
</div>

</div>
   <div class="draw">
    <div class="draw-1">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[0] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844600/Montage62_jfl2be.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-2">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[1] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844642/Montage61_xzj31e.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-3">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[2] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844690/Montage52_ri25od.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-4">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[3] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844724/Montage51_prrc6h.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-5">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[4] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844772/Montage82_tzfom3.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-6">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[5] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844788/Montage81_tlcg4o.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-7">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[6] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844823/Montage72_deqqlk.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-8">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[7] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602844834/Montage71_isb3wr.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-9">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[8]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853632/Montage22_vgajnj.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-10">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[9] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853666/Montage21_uq3ejo.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-11">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[10] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853713/Montage12_wz0jlo.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-12">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[11] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853736/Montage11_hhmp06.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-13">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[12]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853839/Montage42_des9gz.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-14">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[13]%>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853857/Montage41_b6paww.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-15">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[14] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853896/Montage32_xy1g1q.png") %>
      <%= render 'shared/recap2' %>
    </div>
    <div class="draw-16">
      <%= render 'shared/close' %>
      <div class="draw-details">
        <%= render 'shared/print' %>
        <%= @sortinputetroit[15] %>
      </div>
      <%= image_tag("https://res.cloudinary.com/dc9pm7uj8/image/upload/v1602853928/Montage31_d3dgxl.png") %>
      <%= render 'shared/recap2' %>
    </div>
  </div>



